// global @extend classes
// use with care

%ext-nice-scrollbar-x {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-button {
    &:vertical,
    &:horizontal,
    &:start:decrement,
    &:end:increment {
      display: block;
    }
    &:vertical,
    &:horizontal {
      &:start:increment,
      &:end:decrement,
      &:increment,
      &:decrement {
        display: none;
      }
    }
  }
  &::-webkit-scrollbar-track:vertical {
    background-color: rgba(200, 200, 200, 0.08);
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 5px;
  }
  &:hover::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(200, 200, 200, 0.25);
  }
  &::-webkit-scrollbar-corner:vertical,
  &::-webkit-scrollbar-resizer:vertical {
    background-color: transparent;
  }
}

/* purgecss start ignore */
%ext-nice-scrollbar-y {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-button {
    &:horizontal,
    &:start:decrement,
    &:end:increment {
      display: block;
    }
    &:horizontal {
      &:start:increment,
      &:end:decrement,
      &:increment,
      &:decrement {
        display: none;
      }
    }
  }
  &::-webkit-scrollbar-track:horizontal {
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 5px;
  }
  &:hover::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(200, 200, 200, 0.25);
  }
  &::-webkit-scrollbar-corner:horizontal,
  &::-webkit-scrollbar-resizer:horizontal {
    background-color: transparent;
  }
}
/* purgecss end ignore */