.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @include mq-sm {
    max-width: $width-sm;
  }
  @include mq-md {
    max-width: $width-md;
  }
}
