:root {
  // colors
  // TODO: https://colorhunt.co/palette/144326

  --c-1: #0dd492;
  --c-1l: #00ffaa;
  --c-1d: #00b97c;

  --c-2: #950740;
  --c-2l: #c3073f;
  --c-2d: #6f2232;

  --c-3: #ffcb9a;

  --c-l: #f1f1fd;
  --c-d: #1a1a1d;
  
  --c-bg: var(--c-d);
}
